.burgerBox {
  flex-grow: 1;

  display: flex;
  justify-content: space-around;

  @media (min-width: 900px) {
    display: none;
  }
}

.smallScreenAuthMenu {
  display: flex;
  padding: 0;
  gap: 5%;
}

.largerScreenBox {
  flex-grow: 1;
  display: none; // xs (default)
  justify-content: center;

  @media (min-width: 900px) {
    display: flex;
  }
}

.largeScreenLogoBox {
  display: flex;
  align-items: center;
}

.smallScreenLinkStyles,
.largeScreenLinkStyles {
  color: white;
  text-decoration: none;
}

.smallScreenDropdownLinkstyles {
  color: inherit;
  text-decoration: none;
}

.largeScreenLinkStyles {
  font-size: 1.5rem;
  margin-left: 0.5em;
}

.logoutButton {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
}
