.radioGroupContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;

  @media (max-width: 700px) {
    flex-direction: row;
    gap: 1rem;
  }
}

.radioGroupContainer div {
  margin-bottom: 0;
}

.errorHelperText {
  margin-top: 0 !important;
  color: red !important;
}
